@{
    ViewData["Title"] = "Home Page";
}

<div class="jumotron">
<h1>Comment Review</h1>
</div>

<div class="row">
    <button class="btn btn-primary" btn-lg>@Html.ActionLink("Click", "ExportToCsv")</button>
    
</div>
